{% extends "master.html" %}
{% block MainContent %}
Brave Octopus was created in 2010 largely an experiment in interactive fiction.  Testing out new ways to explore stories and experience them together.<br/>
<br/>
From the Creator:<br/>
I love interactive fiction.  Ever since my I started programming, my most loved projects were in creating worlds which I felt were alive and descriptive.  As the web has grown, and games improved, I've felt more distant from my earliest memories of adventure/fantasy in the written form.  Thus, I have created Brave Octopus, in attempt at reconnecting the roots of my passion with the amazing technologies of today.  I hope you all enjoy this site as much as I will.  Let's go on this journey together!
{% endblock %}
