{% extends "master.html" %}
{% block MainContent %}
<div style="text-align:right"><a href="http://widget.mibbit.com/?channel=%23BraveOctopus&nick={{user_name}}&customloading=waiting%20for%20the%20IRC%20server%20...&customprompt=Welcome%20to%20Brave%20Octopus%20&noServerNotices=1&showmotd=0" target="_blank">Popout</a></div>
<iframe width=100% height=500 scrolling=no style="border:0" src="http://widget.mibbit.com/?channel=%23BraveOctopus&nick={{user_name}}&customloading=waiting%20for%20the%20IRC%20server%20...&customprompt=Welcome%20to%20Brave%20Octopus%20&noServerNotices=1&showmotd=0"></iframe>
{% endblock %}


